
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  scroll-behavior : smooth;
  }
  body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .navigation{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(2, 168, 168, 0.925);
    border:1px solid rgba(255, 255, 255, 0.068);
    font-size: x-large;
    z-index: 10}
    .dropbtn {
        color: rgba(255, 255, 255, 0.534);
        padding: 16px;
        font-weight: 500;
        border: none;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1ee;
        min-width: 400px;
      }
      
      .dropdown-content a {
        color: black;
        padding: 10px 10px;
        text-decoration:none;
        display: block;
        font-size: medium;
      }
      .dropdown-content h1{
        padding: 10px 10px;
          font-size:medium;
      }
      .dropdown-content img{
        padding: 10px 10px;
        width:300px;
        height: 350px;
        float: right;
      }
      .dropbtn:hover {color: #f031d0;}
      .dropdown-content a:hover {color: rgb(100, 93, 93);}
      .dropdown:hover .dropdown-content {display: block;}
      /* The reason for goes down  */
      .dropdown:hover .dropbtn {color: #f031d0;}
      .dropbtn2 {
        color: rgba(255, 255, 255, 0.534);
        border: none;
      }
      .dropdown-content2 {
        display: none;
        position: absolute;
        background-color: #f1f1f1ee;
        min-width: 100px;
      }
      
      .dropdown-content2 a {
        color: black;
        padding: 10px 10px;
        text-decoration:none;
        display: block;
        font-size: medium;
      }
      .dropbtn2:hover {color: #f031d0;}
      .dropdown-content2 a:hover {color: rgb(100, 93, 93);}
      .dropdown2:hover .dropdown-content2 {display: block;}
      /* The reason for goes down  */
      .dropdown2:hover .dropbtn2 {color: #f031d0;}
.logo{
    font-size:50px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 100;

}
  /**/
  .right{
   display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-left:80px ;
  }
  .right a i{
    color:rgb(255, 255, 255);
  }
  .right a:hover i{
    color:rgb(255, 81, 232);
  }
  
  .main {
    width:100%;
    display :flex;
    align-items: center;
    
  }
  /*after the header*/
.container{
    max-width: 1200px;
    margin: 0 auto ;
}
.container > h1{
    padding: 20px 0;

}
.cart {
    display: flex;
}
.products{
    flex: 0.75;
}
.product{
    display: flex;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
}
.product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
}
.product > img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.product > img:hover{
    transform: scale(1.04);
}
.product-info{
    padding: 20px;
    width: 100%;
    position: relative;
}
.product-name,.product-price,.product-offer{
    margin-bottom: 20px;

}
.product-remove{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.product-remove:hover{
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}
.product-quantity > input{
    width: 40px;
    padding: 5px;
    text-align: center;
}
.fa{
    margin-right:  5px; ;
}
.cart-total{
    flex:0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}
.cart-total p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.cart-total a{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: orange;
    color: white;
    text-decoration: none;
}
.cart-total a:hover{
    background-color: darkorange;
}
footer{
  background-color:rgba(2, 168, 168, 0.925) ;
  padding: 60px 10px;
  position: relative;
  margin-top: 20px;
  border-top: 1px solid rgb(238, 228, 228);
}

.cont{
display:flex;
justify-content:space-between;
align-items: center;
width: 85%;
margin: 10px auto;
}
.end-logo{
color: rgb(255, 254, 254);
display: flex;
justify-content: center;
align-items: center;
font-size: 90px;
letter-spacing: 1px;
}
.end-logo .span{
color: #ffffff;
font-weight: 400;
margin: 10px;
font-size: 0.8rem;
}
.end-net{
display: flex;
justify-content: center;
align-items: center;
}
.end-net a{
margin: 0px 6px;
border-radius: 50%;
/* to be circle*/
color: black;
background-color: #ffffff;
border: 1px solid rgba(0, 0, 0, 0.062);
width:30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}
.end-net a:hover{
background-color: rgb(226, 43, 211);
color: #ffffff;
transition: all ease 0.3s;
}
.endlist{
display:block;
font-size: x-large;
}
.top{
font-size: x-large;
color: #ffffff;
}
.endlist li a{
color: rgba(26, 24, 24, 0.534);
padding:5px 20px;
margin:5px ;
font-weight: 500;}

.endlist li a:hover, a:active {
color:rgb(250, 95, 237);
}
