@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,400&display=swap');

*{
    font-family: 'poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background-color: white;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* header styling */
.navigation{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 0%;
    align-items: center;
    width:100%;
    background-color: rgba(2, 168, 168, 0.925);
    border:1px solid rgba(255, 255, 255, 0.068);;
    z-index: 10;font-size: x-large;
}
    .dropbtn {
        color: rgba(255, 255, 255, 0.534);
        padding: 16px;
        font-weight: 500;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1ee;
        min-width: 400px;
      }
      
      .dropdown-content a {
        color: black;
        padding: 10px 10px;
        text-decoration:none;
        display: block;
        font-size: medium;
      }
      .dropdown-content h1{
        padding: 10px 10px;
          font-size:small;
      }
      .dropdown-content img{
        padding: 10px 10px;
        width: 300px;
        height: 350px;
        float: right;
      }
      .dropbtn:hover {
          color: #743f6b;
        }
      .dropdown-content a:hover {
          color: rgb(100, 93, 93);
        }
      .dropdown:hover .dropdown-content {
          display: block;
        }
      /* The reason for goes down  */
      .dropdown:hover .dropbtn {
          color: #79346d;
        }
  .logo{
    font-size: 50px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    font-weight: 100;
    margin-bottom: -100;
  }
  /**/
  .right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-left:80px ;
  }
  .right a i{
    color:rgb(255, 255, 255);
  }
  .right a:hover i{
    color:rgb(129, 66, 121);
  }

/* section-1 */

  .sec1{
    background-image: url(https://cdn-eu.dynamicyield.com/api/9876644/images/27dca866c205b__h_m-w17-28042022-4085p-3x1.png);  
    width: 100%;
    height: 600px;
    color: white;
    background-size: cover;
    background-position: center;
    padding: 0 80px;
    /*to make it in the center*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }   .dropbtn2 {
    color: rgba(255, 255, 255, 0.534);
    border: none;
  }
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1ee;
    min-width: 100px;
  }
  
  .dropdown-content2 a {
    color: black;
    padding: 10px 10px;
    text-decoration:none;
    display: block;
    font-size: medium;
  }
  .dropbtn2:hover {color: #f031d0;}
  .dropdown-content2 a:hover {color: rgb(100, 93, 93);}
  .dropdown2:hover .dropdown-content2 {display: block;}
  /* The reason for goes down  */
  .dropdown2:hover .dropbtn2 {color: #f031d0;}

  .sec1 h1{
      color: rgba(18, 124, 124, 0.925);
      font-weight: bolder;
  }

  .sec1 button{
    
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 2px solid white;
        padding: 12px 34px;
        font-size: 15px;
        background: transparent;
        position: relative;
  }
  .sec1 button:hover{
  border: 1px solid rgb(61, 107, 107);
  background: rgb(61, 107, 107);
  transition: 1s;
  }

  /* section2 */
.sec2{
    padding: 40px 80px;
}

/* to make the images in row */
#clothes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#clothes .row1{
    width: 50%;
    text-align: center;
    padding: 25px 15px;
}

#clothes .row1 a{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgba(2, 168, 168, 0.925);
    background-color: transparent;
    position: relative;
    padding-top: 10px;
    bottom: 220px;
    right: 180px;
}
#clothes .row1:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
#clothes .row1 a:hover{
border: 1px solid white;
background: white;
transition: 0.3s;
}
#clothes .row1 img{
    width: 100%;
}

/* recommendation */
.recommendation{
width: 80%;
margin: auto;
text-align: center;
padding-top: 70px;
}

h3{
  font-size: 30px;
  font-weight: 600;
}

.products{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.pro{
  margin-bottom: 5%;
  flex-basis: 25%;
  background: transparent;
  border-radius: 4px;
  padding: 20px 4px;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;
}

figcaption{
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  font-size: 13px;
  color: rgba(18, 124, 124, 0.925);
}

figcaption p{
  display: inline-block;
  text-decoration-line: line-through;
  color: black;
}
#dis{
  display: inline-block;
  text-decoration-line: none;
  font-size: 12px;
}

.pro:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
  /* footer*/

  footer{
    background-color:rgba(2, 168, 168, 0.925) ;
    padding: 60px 10px;
    position: relative;
    margin-top: 20px;
    border-top: 1px solid rgb(238, 228, 228);
}

.cont{
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 85%;
  margin: 10px auto;
}
.end-logo{
  color: rgb(255, 254, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  letter-spacing: 1px;
}
.end-logo .span{
  color: #ffffff;
  font-weight: 400;
  margin: 10px;
  font-size: 0.8rem;
}
.end-net{
  display: flex;
  justify-content: center;
  align-items: center;
}
.end-net a{
  margin: 0px 6px;
  border-radius: 50%;
  /* to be circle*/
  color: black;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.062);
  width:30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.end-net a:hover{
  background-color: rgb(133, 67, 127);
  color: #ffffff;
  transition: all ease 0.3s;
}
.endlist{
  display:block;
  font-size: x-large;
}
.top{
  font-size: x-large;
  color: #ffffff;
}
.endlist li a{
  color: rgba(26, 24, 24, 0.534);
  padding:5px 20px;
  margin:5px ;
  font-weight: 500;}

.endlist li a:hover, a:active {
  color:rgb(121, 66, 116);
}



